.contentwrapper{
    background-color: black;
    width:90%;
    height:90%;
    margin-left:5%;
    margin-top:5%;
}

.header{
    background-color: black;
    height:40%
}

.fourwrapper{
    width:100%;
    height:42%;
    position:absolute;
}

.imgwrapper{
    max-width:20%;
    max-height:20%;
    float:left;
}

.absatz{
    color:whitesmoke;
}

.textwrapper{
    background-color: black;
    max-height:100%;max-width:70%;
    float: right;
    vertical-align: middle;
    overflow:hidden;
}

.descriptionwrapper{
    margin-top: 5%;
    padding-right:15%;
}
